rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read access to team collection
    match /team/{document} {
      allow read: if true;
    }
    // Allow read and write access to bookings collection for all users (for testing)
    match /bookings/{document} {
      allow read, write: if true;
    }
  }
} 