@import "tailwindcss";


.custom-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem !important;
}

html {
  font-size: 80%; /* This will make everything 20% smaller */
}

body {
  box-sizing: border-box;
}



/* Dark mode styles */
.dark body,
.dark .sidebar,
.dark .navbar {
  background: var(--color-black);
  color: var(--primary-text);
}

/* Utility classes */
.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.no-underline {
  text-decoration: none;
}

.svg-white {
  color: aliceblue;
  background-color: aliceblue;
}

.footerTwo {
  background-color: #625397;
}

.footer {
  border-radius: 50%;
}
